# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. Here we talked about the assignment given as part of the IBM course.

__Objectives__:
- List popular languages for Data Science
- DS Tools
- DS Libraries
- Arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia
4. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Keras
4. TensorFlow

| **Data Science Tools** |
| ---- |
| Hadoop |
| Anaconda|
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
**Mayur Raut**